# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform plan files
**/plan.json
**/*tfplan

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore CLI configuration files
.terraformrc
terraform.rc

# This is the script that sets the environment variables for the terraform project
set-azure-env.sh

# Ignore .vscode directory
**/.vscode/*

# Ignore Trivy files
reports/*

# Ignore DS_Store files
**/.DS_Store
